
* {
  box-sizing: border-box;
}
html{
 height: 100%;
 margin: 0;
 padding: 0;
}
nav {
    /*font-family: "Segoe UI", Arial, sans-serif;*/
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: static;
    text-align: center;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: rgb(105, 2, 2);
    color: white;
    font-size: 50px;
    z-index: 10000;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.12);
}
main {
    margin-top: 0px;
    font-family: "Segoe UI", Arial, sans-serif;
}
body {
    min-height: 100vh;
    background-color:aliceblue;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
}
section{
    text-align: center;
    background: white;
    margin: 40px auto;
    padding: 40px 30px; 
    border-radius: 12px;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.12);
    border-left: 6px solid #7b0000;
    width: 80%;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}
section:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 18px rgba(0,0,0,0.15);
}
footer{
    margin-top: auto;
    padding: 10px;
    text-align: center;
    background-color: darkgray;
    color: black;
    left: 0;
    bottom: 0;
    font-size: 15px;
    width: 100%;
}
h2{
    color: rgb(105, 2, 2);
    font-size: 40px;
    text-align: center;
    position: relative;
    padding-bottom: 8px;
    margin-bottom: 20px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 2px solid #ccc;
}
p{
    color: rgb(105, 2, 2);
    font-size: 20px;
    text-align: center;
    padding: 0 70px;
}
li{
    font-size: 20px;
    color: rgb(105, 2, 2);
    text-align: left;
}
ul{
    width: fit-content;
    margin-left: auto;
    margin-right: auto; 
    padding: 0px;
    text-align: center;
}

.nav-logo {
    height: 170px;
    width: 170px;
}
.nav-title{
  flex: 1;
  text-align: center;
  font-weight: bold;  
}
.nav-space{
    width: 170px;
}

.mobile-break{
    display: none;
}
.highlight{
    color: rgb(105, 2, 2);
    font-weight: bold;
}
.highlight-big{
    color: rgb(105, 2, 2);
    font-weight: bold;
    font-size: 25px;
}
.more-padding{
    padding: 40 40;
}
body a{
    color: rgb(160, 0, 0);
}
footer a{
    color: black;
}




@media (max-width: 600px) { /*for mobile phones only*/
    html{
        font-size: 80%;
    }
    nav{
        flex-direction: column;
    }
    .nav-logo{
        height: 150px;
    }
    main {
        margin-top: 0px;
    }
    .mobile-break{
        display: inline;
    }
    .desktop-only{
        display: none;
    }
    p{
        padding: 0;
    }
}